@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wdth,wght@0,62..125,100..900;1,62..125,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

html{
    scroll-behavior: smooth;
}

#container{
    position: relative;
    width: 100%;
    height: 100vh;
}
nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1% 3%;
    border-radius: 50px;
}
nav ul{
    display: flex;
    gap: 3rem;
    list-style: none;
}
nav ul li{
    border-radius: 15px;
    padding: 1.4% 4%;
    transition: .5s ease-in;
}
nav ul a{
    text-wrap: nowrap;
    text-decoration: none;
    color: black;
    transition: .5s ease-in;
}
nav i{
    font-size: 2rem;
}
nav ul li:hover {
    border: 1px solid green;
    transform: rotate(5deg);
    background-color: aqua;
}
nav ul li:hover a{
    color: #5d48fe;
}
.input{
    border: 2.5px solid #000;
    border-radius: 50px;
    padding: 0.5% 2%;
}
.input i{
    font-size: 1.5rem;
    border: 1px solid black;
    background-color:black;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
}
.input input{
    text-transform: capitalize;
    border: none;
    font-size: 1.3rem;
}
.input input:focus{
    color: rgb(83, 83, 255);
    outline: none;
}
.content{
    position: absolute;
    top: 8%;
    left: 5.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 7px solid rgb(201, 219, 255);
    background-color: rgba(0, 6, 73, 0.418);
    border-radius: 30px;
    width: 90%;
    height: 85%;
    z-index: 3;
}
.bg{
    width: 100%;
   height: 100vh;
}
.bg img{
    width: 100%;
    height: 100%;
}
.hero{
    color: #fff;
    text-align: center;
    width: 80%;
}
.hero h1{
    font-size: 5rem;
    font-weight: 800;
}
button{
    background-color: transparent;
    border: 2px solid #fff;
    padding: 1% 2.5%;
    border-radius: 50px;
    margin-top: 1%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all .8s ease;
}
button:hover{
    background-color: aliceblue;
    color: #000;
}

button i{
    width: 30px;
    height: 30px;
    padding-top: 6px;
    margin-right: 5px ;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #000000;
    transition: all .8s ease;
}
button:hover .fa-location-dot{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}
.item{
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 2%;
    transition: all .5s ease ;
}
.list img{
    width: 15rem;
    height: auto;
    border-radius: 10px;
}

.list:hover {
    border: 2px solid rgb(0, 121, 0);
    box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.269);
}
.title{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.title h1{
    font-size: 1.5rem;
    font-weight: 800;
}
.title i{
    border: 1px solid black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 4px 6px;
}
.star{
    display: flex;
}
.star i{
    padding: 0;
    border: none;
    color: rgb(255, 207, 48);
}
.star .light{
    color: rgb(213, 196, 141); 
}