*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    padding-top: 45vh;
    background-color: rgb(116, 227, 227);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}
h1{
    color: rgb(2, 19, 24);
}
#update{
    text-transform: capitalize;
    color: rgb(241, 239, 94);
    text-shadow: 1px 2px 2px  rgba(3, 43, 64, 0.272);
}
.btn{
    background-color: aliceblue;
    outline: none;
    border: none;
    padding: 15px 5px;
    font-size: 1rem;
    border-radius: 50px;
    box-shadow: 1px 5px 15px 1px rgba(1, 160, 181, 0.717);
    font-weight: 900;
    transition: border .5s ease, box-shadow .5s ease;

}
.btn:hover{
  border: 3px solid rgb(0, 179, 255);
  box-shadow:inset 2px 2px 5px 1px rgba(1, 160, 181, 0.717);

}
